{% extends "base.html" %}
{% load static %}
{% load render_table from django_tables2 %}
{% load querystring from django_tables2 %}
{% block content %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style_profile.css' %}" rel="stylesheet">
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    {% if user.is_authenticated %}

        <div class="container">
            <div class="row">
                <div class="col-md-3  toppad  pull-right col-md-offset-5 ">
                    <A href="{% url 'update_profile' %}" data-toggle="tooltip" type="button"
                       class="btn btn-sm btn-warning">Edit Profile</A>
                    <A style="margin-left: 5% " href="{% url "logout_user" %}" data-toggle="tooltip" type="button"
                       class="confirmation btn btn-sm btn-danger">Logout</A>
                    <br>
                    <br>

                    <p class=" text-info">{% now "jS F Y H:i" %}</p>

                    <div>
                        {% block childcontent %}
                            <A href="{% url 'show_profile' %}" data-toggle="tooltip" type="button"
                               class="btn btn-sm btn-success fa fa-arrow-left" style="margin-left: 20%"> Go Back</A>
                            <br>
                            <A href="{% url 'journals_filter_view' %}" data-toggle="tooltip" type="button"
                               class="pull-left btn btn-sm btn-success fa fa-search" style="margin-left: -293%"> Filter
                                Data</A>
                            <br>
                            <br>
                            <br>
                            {% if not tables|length > 0 %}
                                <div class="container" style="margin-left: -300%; color:#fe0403">
                                <h2>No data found</h2>
                                </div>
                            {% endif %}
                            {% if tables.sciTable.data|length > 0 %}
                                <div class="container" style="margin-left: -300%">
                                    <legend>SCI Journals</legend>
                                    <div class="row">
                                        <div class="pull-left">
                                            {% render_table tables.sciTable %}
                                        </div>
                                    </div>
                                </div>
                                <div style="margin-left: -295%">
                                    <A href="{% querystring 'sci_export'='xlsx' %}" data-toggle="tooltip" type="button"
                                       class="btn btn-sm btn-success fa fa-arrow-down "> Export as xls</A>
                                </div>
                                <br>
                                <br>
                            {% endif %}
                            {% if tables.upsTable.data|length > 0 %}
                                <div class="container" style="margin-left: -300%">
                                    <legend>Unpaid Scopus</legend>
                                    <div class="row">
                                        <div class="pull-left">
                                            {% render_table tables.upsTable %}
                                        </div>
                                    </div>
                                </div>
                                <div style="margin-left: -295%">
                                    <A href="{% querystring 'unp_export'='xlsx' %}" data-toggle="tooltip" type="button"
                                       class="btn btn-sm btn-success fa fa-arrow-down "> Export as xls</A>
                                </div>
                                <br>
                                <br>
                            {% endif %}
                            {% if tables.psTable.data|length > 0 %}
                                <div class="container" style="margin-left: -300%">
                                    <legend>Paid Scopus</legend>
                                    <div class="row">
                                        <div class="pull-left">
                                            {% render_table tables.psTable %}
                                        </div>
                                    </div>
                                </div>
                                <div style="margin-left: -295%">
                                    <A href="{% querystring 'ps_export'='xlsx' %}" data-toggle="tooltip" type="button"
                                       class="btn btn-sm btn-success fa fa-arrow-down "> Export as xls</A>
                                </div>
                                <br>
                                <br>
                            {% endif %}
                            {% if tables.oTable.data|length > 0 %}
                                <div class="container" style="margin-left: -300%">
                                    <legend>Other Journals</legend>
                                    <div class="row">
                                        <div class="pull-left">
                                            {% render_table tables.oTable %}
                                        </div>
                                    </div>
                                </div>
                                <div style="margin-left: -295%">
                                    <A href="{% querystring 'oj_export'='xlsx' %}" data-toggle="tooltip" type="button"
                                       class="btn btn-sm btn-success fa fa-arrow-down "> Export as xls</A>
                                </div>
                                <br>
                                <br>
                                <script type="text/javascript">
                            $('.confirmation').on('click', function() {
                                return confirm('Are you sure?');
                            });
                            </script>
                            {% endif %}
                        {% endblock childcontent %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock content %}