{% extends "base.html" %}
{% load static %}
{% load render_table from django_tables2 %}
{% load querystring from django_tables2 %}
{% block content %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style_profile.css' %}" rel="stylesheet">
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    {% if user.is_authenticated %}

        <div class="container">
            <div class="row">
                <div class="col-md-3  toppad  pull-right col-md-offset-5 ">
                    <A href="{% url 'update_profile' %}" data-toggle="tooltip" type="button"
                       class="btn btn-sm btn-warning">Edit Profile</A>
                    <A style="margin-left: 5% " href="{% url "logout_user" %}" data-toggle="tooltip" type="button"
                       class="btn btn-sm btn-danger">Logout</A>
                    <br>
                    <br>

                    <p class=" text-info">{% now "jS F Y H:i" %}</p>

                    <div>
                        {% block childcontent %}
                            <div class="row">
                            <A href="{% url 'show_profile' %}" data-toggle="tooltip" type="button"
                            class="btn btn-sm btn-success fa fa-arrow-left" style="margin-left: 20%"> Go Back</A>
                            <br>
                            <A href="{% url 'seminars_filter_view' %}" data-toggle="tooltip" type="button"
                            class="pull-left btn btn-sm btn-success fa fa-search" style="margin-left: -260%"> Filter Data</A>
                            </div>
                            <br>
							<br>
                            <div class="container" style="margin-left: -300%">
                                <legend>Conferences Attended</legend>
                                <div class="row">
                                    <div class="pull-left">
                                        {% render_table table.ca %}
                                    </div>
                                    <div style="margin-left: 90%">
                                        <A href="{% url 'add_seminars' sem_type='Conferences_Attended' code=0%}" data-toggle="tooltip" type="button"
                                           class="btn btn-sm btn-success fa fa-plus "> Add </A>
                                    </div>
                                </div>
                            </div>
                            <div style="margin-left: -295%">
                                        <A href="{% querystring 'ca_export'='xlsx' %}" data-toggle="tooltip" type="button"
                                           class="btn btn-sm btn-success fa fa-arrow-down "> Export as xls </A>
                            </div>
                            <br>
							<br>
                            <div class="container" style="margin-left: -300%">
                                <legend>Seminars Attended</legend>
                                <div class="row">
                                    <div class="pull-left">
                                        {% render_table table.sa %}
                                    </div>
                                    <div style="margin-left: 90%">
                                        <A href="{% url 'add_seminars' sem_type='Seminars_Attended' code=1%}" data-toggle="tooltip" type="button"
                                           class="btn btn-sm btn-success fa fa-plus "> Add </A>
                                    </div>
                                </div>
                            </div>
                            <div style="margin-left: -295%">
                                        <A href="{% querystring 'sa_export'='xlsx' %}" data-toggle="tooltip" type="button"
                                           class="btn btn-sm btn-success fa fa-arrow-down "> Export as xls </A>
                            </div>
                            <br>
							<br>
                            <div class="container" style="margin-left: -300%">
                                <legend>Workshops Attended</legend>
                                <div class="row">
                                    <div class="pull-left">
                                        {% render_table table.wa %}
                                    </div>
                                    <div style="margin-left: 90%">
                                        <A href="{% url 'add_seminars' sem_type='Workshops_Attended' code=2%}" data-toggle="tooltip" type="button"
                                           class="btn btn-sm btn-success fa fa-plus "> Add </A>
                                    </div>
                                </div>
                            </div>
                            <div style="margin-left: -295%">
                                        <A href="{% querystring 'wa_export'='xlsx' %}" data-toggle="tooltip" type="button"
                                           class="btn btn-sm btn-success fa fa-arrow-down "> Export as xls </A>
                            </div>
                            <br>
							<br>
                            <div class="container" style="margin-left: -300%">
                                <legend>Training Programs Attended</legend>
                                <div class="row">
                                    <div class="pull-left">
                                        {% render_table table.tpa %}
                                    </div>
                                    <div style="margin-left: 90%">
                                        <A href="{% url 'add_seminars' sem_type='Training_Programs_Attended' code=3%}" data-toggle="tooltip" type="button"
                                           class="btn btn-sm btn-success fa fa-plus "> Add </A>
                                    </div>
                                </div>
                            </div>
                            <div style="margin-left: -295%">
                                        <A href="{% querystring 'tpa_export'='xlsx' %}" data-toggle="tooltip" type="button"
                                           class="btn btn-sm btn-success fa fa-arrow-down "> Export as xls </A>
                            </div>
                            <br>
							<br>
                             <div class="container" style="margin-left: -300%">
                                <legend>Conferences Organised</legend>
                                <div class="row">
                                    <div class="pull-left">
                                        {% render_table table.co %}
                                    </div>
                                    <div style="margin-left: 90%">
                                        <A href="{% url 'add_seminars' sem_type='Conferences_Organised' code=4%}" data-toggle="tooltip" type="button"
                                           class="btn btn-sm btn-success fa fa-plus "> Add </A>
                                    </div>
                                </div>
                            </div>
                            <div style="margin-left: -295%">
                                        <A href="{% querystring 'co_export'='xlsx' %}" data-toggle="tooltip" type="button"
                                           class="btn btn-sm btn-success fa fa-arrow-down "> Export as xls </A>
                            </div>
                            <br>
							<br>
                            <div class="container" style="margin-left: -300%">
                                <legend>Workshops Organised</legend>
                                <div class="row">
                                    <div class="pull-left">
                                        {% render_table table.wo %}
                                    </div>
                                    <div style="margin-left: 90%">
                                        <A href="{% url 'add_seminars' sem_type='Workshops_Organised' code=5%}" data-toggle="tooltip" type="button"
                                           class="btn btn-sm btn-success fa fa-plus "> Add </A>
                                    </div>
                                </div>
                            </div>
                            <div style="margin-left: -295%">
                                        <A href="{% querystring 'wo_export'='xlsx' %}" data-toggle="tooltip" type="button"
                                           class="btn btn-sm btn-success fa fa-arrow-down "> Export as xls </A>
                            </div>
                            <br>
							<br>
                            <div class="container" style="margin-left: -300%">
                                <legend>Seminars Organised</legend>
                                <div class="row">
                                    <div class="pull-left">
                                        {% render_table table.so %}
                                    </div>
                                    <div style="margin-left: 90%">
                                        <A href="{% url 'add_seminars' sem_type='Seminars_Organised' code=6%}" data-toggle="tooltip" type="button"
                                           class="btn btn-sm btn-success fa fa-plus "> Add </A>
                                    </div>
                                </div>
                            </div>
                            <div style="margin-left: -295%">
                                        <A href="{% querystring 'so_export'='xlsx' %}" data-toggle="tooltip" type="button"
                                           class="btn btn-sm btn-success fa fa-arrow-down "> Export as xls </A>
                            </div>
                            <br>
                            <br>
                            <br>
                        {% endblock childcontent %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock content %}